<div class="container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Bachelor's Degree
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Computer Science
          </mat-card-title>
          <mat-card-subtitle>
            University of Michigan | 2017 - 2021
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Master's Degree
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Artificial Intelligence
          </mat-card-title>
          <mat-card-subtitle>
            Harvard University | 2021 - Now
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>
</div>
