<div class="container">
  <div class="padding-10px" *ngFor="let education of educations">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <span [ngSwitch]="education.grade">
            <span *ngSwitchCase="0">Diploma</span>
            <span *ngSwitchCase="1">Bachelor's</span>
            <span *ngSwitchCase="2">Master's</span>
            <span *ngSwitchCase="3">Doctorate</span>
          </span>
          <span> of </span>
          {{education.title}}
        </mat-card-title>
        <mat-card-subtitle>{{education.university}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          <strong>Location:</strong>
          {{education.location}}
        </p>
        <p>
          <strong>GPA:</strong>
          {{education.gpa}} of 4
        </p>
      </mat-card-content>
      <mat-card-footer>
        <div class="padding-10px">
          <span>
            {{education.startDate.getFullYear()}}/{{education.startDate.getMonth()}}
          </span>
          <span>
            -
          </span>
          <span *ngIf="education.endDate">
            {{education.endDate.getFullYear()}}/{{education.endDate.getMonth()}}
          </span>
          <span *ngIf="!education.endDate">
            Present
          </span>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
